# **Listas**

In [ ]:
# Vamos a generar una lista vacia
L=[]
range(10)

range(0, 10)

In [ ]:
#creamos la lista L
L=[1, 2, 3, 4]
L

[1, 2, 3, 4]

In [ ]:
# agregaremos numeros y quitaremos numeros deseados
L.append(5)
L.remove(5)
L

[1, 2, 3, 4, 5]

In [ ]:
#Imprimimos una lista
for i in range(11): print(i)

0
1
2
3
4
5
6
7
8
9
10

# **Listas por comprension**

In [ ]:
#determinamos el tipo
type([])

list

In [ ]:
#determinamos la longitud de la lista
len([2, 4, 6, 8])

4

In [ ]:
#Creamos una lista de solo pares
Pares=[i for i in range(1,101) if i%2==0]
Pares

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [ ]:
#creamos una lista de solo impares
Impares=[i for i in range(1,101) if i%2!=0]
Impares

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

# **Modulo NumPy**

In [ ]:
# llamamos a numpy por el codiga renombrandolo a np
import numpy as np
np.random.randint(1,101,3)

array([92, 47, 10])

In [ ]:
# Creamos la lista de numeros aleatorios
Lista=[x for x in np.random.randint(1,11,100)]
Lista

[3,
 7,
 10,
 1,
 7,
 3,
 9,
 6,
 8,
 5,
 7,
 6,
 9,
 7,
 10,
 7,
 1,
 10,
 2,
 5,
 9,
 2,
 4,
 2,
 10,
 8,
 4,
 6,
 7,
 7,
 3,
 4,
 2,
 10,
 7,
 1,
 8,
 9,
 9,
 6,
 3,
 4,
 1,
 6,
 6,
 2,
 2,
 4,
 1,
 9,
 10,
 9,
 8,
 8,
 4,
 3,
 3,
 2,
 2,
 2,
 1,
 3,
 6,
 3,
 7,
 4,
 4,
 1,
 4,
 7,
 7,
 5,
 3,
 7,
 8,
 8,
 1,
 10,
 7,
 5,
 8,
 4,
 7,
 10,
 7,
 3,
 1,
 1,
 10,
 7,
 8,
 4,
 8,
 3,
 6,
 6,
 4,
 10,
 10,
 6]

In [ ]:
# Señalamos solo los pares
pares=[y for y in Lista if y%2==0]
pares

[10,
 6,
 8,
 6,
 10,
 10,
 2,
 2,
 4,
 2,
 10,
 8,
 4,
 6,
 4,
 2,
 10,
 8,
 6,
 4,
 6,
 6,
 2,
 2,
 4,
 10,
 8,
 8,
 4,
 2,
 2,
 2,
 6,
 4,
 4,
 4,
 8,
 8,
 10,
 8,
 4,
 10,
 10,
 8,
 4,
 8,
 6,
 6,
 4,
 10,
 10,
 6]