# **Matrices**

In [1]:
import numpy as np

In [5]:
# seed es para poner el canal 1 asi estoy vinculado a un orden especifico
np.random.seed(1)

np.random.randint(1,21, size=15)

array([ 6, 12, 13,  9, 10, 12,  6, 16,  1, 17,  2, 13,  8, 14,  7])

In [45]:
# L.sort ordena de manera ascendente, de la lista random sacamos solo los pares
L=[i for i in np.random.randint(1,21, size=40) if i%2==0]
L.sort()
L

[2, 2, 4, 4, 4, 4, 6, 6, 6, 8, 8, 8, 8, 8, 10, 10, 12, 14, 18, 20, 20, 20, 20]

In [46]:
# muestra en orden numerico correspondiente al de la lista, si el numero solicitado es impar se salta uno de la lista, si es par lo muestra seguido al del impar
L.pop()

20

In [22]:
L.remove(4)
L

[2, 6, 6, 6, 6, 6, 8, 8, 10, 12, 12, 14, 16, 16, 18]

In [90]:
L+[6]

[2, 2, 4, 8, 10, 10, 14, 18, 20, 20, 20, 6]

In [97]:
# Convertimos L en una vector
L_arreglo=np.array(L)
L_arreglo

array([ 8, 10, 10, 14, 18, 20, 20, 20,  4])

In [96]:
L.append(4)
L

[8, 10, 10, 14, 18, 20, 20, 20, 4]

In [98]:
#determinamos el largo de la vector, si la vector es prima solo se puede crear de ese numero por 1
len(L_arreglo)

9

In [99]:
#creamos la matriz
L_arreglo.reshape(3,3)

array([[ 8, 10, 10],
       [14, 18, 20],
       [20, 20,  4]])

In [104]:
#declaramos L matriz
L_matriz=L_arreglo.reshape(3,3)

In [110]:
#declaramos M matriz
M_matriz=np.array([2,3,14,19,13,0,5,25,69]).reshape(3,3)
M_matriz

array([[ 2,  3, 14],
       [19, 13,  0],
       [ 5, 25, 69]])

In [111]:
# Multiplicamos ambas matrices
N= L_matriz @ M_matriz
N

array([[ 256,  404,  802],
       [ 470,  776, 1576],
       [ 440,  420,  556]])